a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  word-wrap: break-word;
}
li,
ol,
ul {
  list-style: none;
}
a {
  color: #212121;
}
body {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
  line-height: 1.5;
  color: #3d4145;
  background: #eeeeee;
  overflow: hidden;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}
.weui-input{
	font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  -webkit-touch-callout: none;
}
.no-before::before,
.no-after::after {
  content: none;
}
.no-end::before,
.no-end::after {
  content: none;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.affix {
  position: fixed;
}
.more-ico {
  background: url(../images/more-ico02.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  top: 50%;
  right: 10px;
  line-height: 24px;
}
.more-ico.small-save {
  background: none;
  color: white;
  font-size: .6rem;
  width: auto;
}
.more-ico03 {
  background: url(../images/more-ico03.png) no-repeat;
  background-size: 100% 100%;
}
.warp-gonggao {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(1, 1, 1, 0.7);
  display: none;
  z-index: 9;
}
.tan-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tan-open,
.tan-overlay {
  display: block;
  pointer-events: auto;
}
.close-x {
  background: url(../images/xx01.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: .3rem;
  right: .3rem;
  width: .6rem;
  height: .6rem;
  z-index: 2;
}
.close-x.small_x {
  background: url(../images/close-x.jpg) no-repeat;
  background-size: 100% 100%;
  right: .3rem;
  top: .3rem;
  width: .8rem;
  height: .8rem;
}
.gg-box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 82%;
  height: auto;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.small_page {
  display: -webkit-box;  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;    /* 老版本语法: Firefox (buggy) */ 
  display: -ms-flexbox;  /* 混合版本语法: IE 10 */
  display: -webkit-flex;  /* 新版本语法： Chrome 21+ */
  display: flex;       /* 新版本语法： Opera 12.1, Firefox 22+ */
  -webkit-box-orient: vertical;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.small_page .small_head {
  height: 1.6rem;
  background: #333;
}
.small_page .small_body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
.small_page .small_foot {
  min-height: 2rem;
}
.small_page .small_foot .foot-tab {
  background: white;
  border-top: 1px solid #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.small_page .small_foot .foot-tab a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  padding-top: .2rem;
  font-size: .5rem;
  color: #818181;
}
.small_page .small_foot .foot-tab a i {
  width: .9rem;
  height: .9rem;
  display: block;
  margin: 0 auto .1rem;
}
.small_page .small_foot .foot-tab a.item01 i {
  background: url(../images/tab-item01.png) no-repeat;
  background-size: 100% 100%;
}
.small_page .small_foot .foot-tab a.item01.active {
  color: #588fe8;
}
.small_page .small_foot .foot-tab a.item01.active i {
  background: url(../images/tab-item11.png) no-repeat;
  background-size: 100% 100%;
}
.small_page .small_foot .foot-tab a.item02 i {
  background: url(../images/tab-item02.png) no-repeat;
  background-size: 100% 100%;
}
.small_page .small_foot .foot-tab a.item02.active {
  color: #588fe8;
}
.small_page .small_foot .foot-tab a.item02.active i {
  background: url(../images/tab-item22.png) no-repeat;
  background-size: 100% 100%;
}
.small_page .small_foot .foot-tab a.item03 i {
  background: url(../images/tab-item03.png) no-repeat;
  background-size: 100% 100%;
}
.small_page .small_foot .foot-tab a.item03.active {
  color: #588fe8;
}
.small_page .small_foot .foot-tab a.item03.active i {
  background: url(../images/tab-item33.png) no-repeat;
  background-size: 100% 100%;
}
.small_page .small_foot .foot-tab a.item04 i {
  background: url(../images/tab-item04.png) no-repeat;
  background-size: 100% 100%;
}
.small_page .small_foot .foot-tab a.item04.active {
  color: #588fe8;
}
.small_page .small_foot .foot-tab a.item04.active i {
  background: url(../images/tab-item44.png) no-repeat;
  background-size: 100% 100%;
}
.small_page .small_foot .foot-tab a.item05 i {
  background: url(../images/tab-item05.png) no-repeat;
  background-size: 100% 100%;
}
.small_page .small_foot .foot-tab a.item05.active {
  color: #588fe8;
}
.small_page .small_foot .foot-tab a.item05.active i {
  background: url(../images/tab-item55.png) no-repeat;
  background-size: 100% 100%;
}
.small_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  color: white;
}
.small_head .go-back {
  padding-left: .6rem;
  min-height: .6rem;
}
.small_head .go-back:before {
  content: " ";
  display: inline-block;
  width: .4rem;
  height: .4rem;
  border: solid #fff;
  border-width: 2px 0 0 2px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}
.small_head .head-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  font-size: .7rem;
}
.small_head .tool-box {
  padding-right: .6rem;
}
.warp-pages {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f3f3f3;
  overflow: auto;
}
.warp-pages .page-top {
  padding-top: 1.8rem;
}
.warp-pages .page-top .logo-img {
  width: 5rem;
  margin: 0 auto;
}
.warp-pages .form-box {
  padding: 1.8rem 1.4rem 0;
}
.warp-pages .form-box .btn-box {
  padding-top: 1.4rem;
}
.warp-pages .form-box .btn-box .login-btn {
  display: block;
  background: #4b8ff5;
  color: white;
  text-align: center;
  font-size: .65rem;
  padding: .4rem 0;
  border-radius: 1rem;
  /* 盒子阴影 */
	-webkit-box-shadow: 0 5px 16px rgba(75,143,245,.4);
	-moz-box-shadow: 0 5px 16px rgba(75,143,245,.4);
	box-shadow:0 5px 16px rgba(75,143,245,.4);
}
.warp-pages .form-box .a-colfont {
  color: #858585;
  font-size: .6rem;
}
.warp-pages .pass-hide {
  width: .6rem;
  height: .6rem;
  background: url(../images/pass-hide.png) no-repeat;
  background-size: 100% 100%;
}
.warp-pages .pass-hide.pass-show {
  background: url(../images/pass-show.png) no-repeat;
  background-size: 100% 100%;
}
.bottom-bg {
  background: #fff url(../images/bottom-bg.png) no-repeat left bottom;
  background-size: contain;
}
.search-warp {
  padding: .3rem;
  background: white;
}
.search-warp .search-box {
  border: 1px solid #e7e7e7;
  padding: .3rem;
  border-radius: .2rem;
}
.search-warp .search-box span {
  display: inline-block;
  width: .8rem;
  height: .8rem;
  background: url(../images/scearh.png) no-repeat;
  background-size: 100% 100%;
  vertical-align: top;
  margin-right: .3rem;
}
.search-warp .search-box input {
  width: 80%;
  font-size: .55rem;
  background: none;
  border: none;
  padding-top: .1rem;
}
.search-warp .search-box input:focus {
  outline: none;
}
.index-flex {
  padding: .5rem 0;
  background: white;
}
.index-flex .placeholder {
  text-align: center;
  font-size: .5rem;
  color: #707070;
}
.index-flex .placeholder img {
  width: 1.8rem;
  padding-bottom: .2rem;
}
.index-cells {
  margin: 0;
}
.index-cells .weui-cell__hd {
  margin-right: .4rem;
}
.index-cells .weui-cell__hd span {
  border: 1px solid #4b8ff5;
  color: #4b8ff5;
  font-size: .5rem;
  display: inline-block;
  padding: 0 .2rem;
  border-radius: .2rem;
}
.index-cells .p-title {
  font-size: .55rem;
  color: #484848;
  text-overflow: ellipsis;
  overflow: hidden;
  height: .8rem;
}
.pro-flex {
  margin-top: .4rem;
}
.pro-flex .weui-flex__item:last-child {
  border-left: 1px solid #e7e7e7;
}
.pro-flex .weui-flex__item:last-child a {
  display: block;
}
.pro-flex .weui-flex__item:last-child a:last-child {
  border-top: 1px solid #e7e7e7;
}
.go-cells {
  margin-top: .4rem;
  background: url(../images/go-bg.jpg) no-repeat;
  background-size: 100% 100%;
}
.go-cells .weui-cell {
  color: white;
}
.go-cells .weui-cell i {
  font-size: .7rem;
  margin-right: .3rem;
}
.go-cells .weui-cell p.p-title {
  font-size: .5rem;
}
.go-cells .weui-cell .go-btn {
  background: rgba(255, 255, 255, 0.3);
  display: block;
  border-radius: .5rem;
  color: white;
  font-size: .55rem;
  padding: 0 .3rem;
}
.proner-flex {
  background: white;
}
.proner-flex .weui-flex__item {
  padding: .5rem 0 .5rem .5rem;
  border-left: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
}
.proner-flex .weui-flex__item .placeholder span {
  font-size: .6rem;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.proner-flex .weui-flex__item .placeholder p {
  font-size: .5rem;
  color: #939393;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.proner-flex .weui-flex__item .placeholder .hot-box {
  height: .8rem;
  padding-bottom: .2rem;
}
.proner-flex .weui-flex__item .placeholder a {
  display: block;
  text-align: center;
}
.proner-flex .weui-flex__item .placeholder a img{
	width:3rem;
	height:3rem;
}
.cat-boxs .checkbox_lable {
  padding-left: 15px;
  display: block;
  width: 1.2rem;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-align-items: center;
  color: #a9a9a9;
}
.cat-boxs .checkbox_lable input {
  display: none;
}
.cat-boxs .checkbox_lable input + i:after {
  content: "\EA01";
  color: #bfbfbf;
}
.cat-boxs .checkbox_lable input + i:after,
.cat-boxs .checkbox_lable input:checked + i:after {
  font: normal normal normal 14px/1 weui;
  display: inline-block;
  font-size: 18px;
}
.cat-boxs .checkbox_lable input:checked + i:after {
  content: "\EA06";
  color: #4b8ff5;
}
.cat-boxs .list-box {
  margin: 0 0 .5rem 0;
  position: relative;
}
.cat-boxs .list-box .weui-cell__hd {
  margin-right: .5rem;
}
.cat-boxs .list-box .weui-cell__hd img {
  width: 3rem;
  height: 3rem;
  border: 1px solid #e7e7e7;
}
.cat-boxs .list-box .weui-cell__bd h5 {
  font-size: .6rem;
  color: #424242;
  height: .8rem;
  overflow: hidden;
}
.cat-boxs .list-box .weui-cell__bd p.p-num {
  height: 1rem;
  overflow: hidden;
  font-size: .45rem;
  color: #b2b2b2;
  line-height: 1.8em;
}
.cat-boxs .list-box .weui-cell__bd p.p-num span {
  background: #ee9485;
  color: white;
  font-size: .4rem;
  padding: .1rem .2rem;
  border-radius: .6rem;
}
.cat-boxs .list-box .weui-cell__bd p.p-price {
  font-size: .45rem;
  margin-top: .3rem;
  color: #f51e62;
}
.cat-boxs .list-box .weui-cell__bd p.p-price span {
  font-size: .6rem;
}
.cat-boxs .list-box .weui-cell__bd .list-num {
  padding: .2rem 0;
}
.cat-boxs .list-box .weui-cell__bd .list-num .num-right {
  line-height: 24px;
}
.cat-boxs .list-box .weui-cell__bd .list-num .num-right span.rigth-span {
  display: inline-block;
  margin-left: 5px;
}
.cat-boxs .list-box .weui-cell__bd .list-num .num-right span.all-num {
  display: inline-block;
  vertical-align: middle;
}
.cat-boxs .list-box .weui-cell__bd .list-num .num-right button {
  background: #f4f4f4;
  width: 24px;
  height: 24px;
  border: 1px solid #e7e7e7;
  font-size: .9rem;
  line-height: 18px;
  vertical-align: middle;
  color: #4d4d4d;
}
.cat-boxs .list-box .weui-cell__bd .list-num .num-right button:active {
  background: #f2f2f2;
}
.cat-boxs .list-box .weui-cell__bd .list-num .num-right button:focus {
  display: none;
}
.cat-boxs .list-box .weui-cell__bd .list-num .num-right input {
  background: white;
  width: 40px;
  height: 22px;
  border: 1px solid #e7e7e7;
  border-width: 1px 0;
  font-size: .5rem;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
}
.cat-boxs .list-box .btn-toggle {
  position: absolute;
  right: 15px;
  top: 10px;
  width: .6rem;
  height: .6rem;
}
.cat-boxs .list-box .small-cat {
  display: none;
}
.cat-boxs .list-box .small-cat .weui-cell {
  padding: 0;
}
.cat-boxs .list-box .small-cat .weui-cell .weui-cell__hd {
  padding: 10px 0;
}
.cat-boxs .list-box .small-cat .weui-cell .weui-cell__bd {
  padding: 10px 0;
}
.cat-boxs .list-box .small-cat .weui-cell .weui-cell__ft {
  border-left: 1px solid #e7e7e7;
  font-size: .55rem;
}
.cat-boxs .list-box .small-cat .weui-cell .weui-cell__ft .completes {
  padding: .55rem .55rem;
}
.cat-boxs .list-box .small-cat .weui-cell .weui-cell__ft .deletes {
  padding: .55rem .55rem;
  border-top: 1px solid #e7e7e7;
  color: #f51e62;
}
.cat-boxs .list-box .small-cat:first-child {
  display: block;
}
.del-bar,
.jiesun-bar {
  position: fixed;
  left: 0;
  bottom: 2rem;
  right: 0;
  height: 50px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  z-index: 2;
}
.jiesun-price {
  text-align: right;
  padding-right: 10px;
  line-height: 18px;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.jiesun-price .yh {
  color: #888;
  font-size: 11px;
}
.jiesun-price .zj {
  color: #000;
  font-size: 16px;
}
.jiesun-price .zj b {
  color: #f25447;
}
.jiesbtn {
  font-size: .6rem;
  width: 110px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: relative;
  margin-top: -1px;
  /*背景渐变*/
  background: -moz-linear-gradient(left, #57a6ee, #8667fd);
  background: -webkit-linear-gradient(left, #57a6ee, #8667fd);
  background: -o-linear-gradient(left, #57a6ee, #8667fd);
}
.jiesbtn span {
  font-size: .6rem;
}
.checkbox_lable {
  display: block;
  width: 60px;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-align-items: center;
  color: #a9a9a9;
}
.checkbox_lable input {
  display: none;
}
.checkbox_lable input + i:after {
  content: "\EA01";
  color: #bfbfbf;
}
.checkbox_lable input + i:after,
.checkbox_lable input:checked + i:after {
  font: normal normal normal 14px/1 weui;
  display: inline-block;
  font-size: 18px;
}
.checkbox_lable input:checked + i:after {
  content: "\EA06";
  color: #4b8ff5;
}
.classify-warp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}
.classify-warp .classify-nav {
  width: 3.5rem;
  height: 100%;
  overflow: auto;
}
.classify-warp .classify-nav ul li {
  text-align: center;
  padding: .3rem 0;
  background: white;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  box-sizing: border-box;
}
.classify-warp .classify-nav ul li img {
  width: 3rem;
  height: 1rem;
  padding-bottom: .2rem;
}
.classify-warp .classify-nav ul li p {
  font-size: .55rem;
  color: #7a7a7a;
}
.classify-nav ul li{
	border-left:.2rem solid transparent;
}
.classify-warp .classify-nav ul li.active {
  border-left: .2rem solid #4b8ff5;
}
.classify-warp .product-box {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  overflow: auto;
}
.classify-warp .product-box .product-list {
  padding: .4rem;
}
.classify-warp .product-box .product-list .list-title {
  padding: .3rem 0;
  color: white;
  font-size: .6rem;
  text-align: center;
  border-radius: .8rem;
  /*背景渐变*/
  background: -moz-linear-gradient(left, #58a5ee, #8567fd);
  background: -webkit-linear-gradient(left, #58a5ee, #8567fd);
  background: -o-linear-gradient(left, #58a5ee, #8567fd);
  /* 盒子阴影 */
-webkit-box-shadow: 0 2px 5px #a0c8e3;
-moz-box-shadow: 0 2px 5px #a0c8e3;
box-shadow: 0 2px 5px #a0c8e3;
}
.classify-warp .product-box .product-list .list-title span {
  font-size: .5rem;
}
.classify-warp .product-box .product-list .list-box {
  margin-top: .4rem;
  border-radius: .2rem;
}
.classify-warp .product-box .product-list .list-box .weui-cell__hd {
  width: 3rem;
  height: 3rem;
  margin-right: .5rem;
}
.classify-warp .product-box .product-list .list-box .weui-cell__hd img {
  width: 3rem;
  height: 3rem;
  display: block;
}
.classify-warp .product-box .product-list .list-box .weui-cell__bd h5 {
  font-size: .55rem;
  color: #424242;
  height: .8rem;
  overflow: hidden;
}
.classify-warp .product-box .product-list .list-box .weui-cell__bd p.p-num {
  font-size: .45rem;
  color: #b2b2b2;
  line-height: 1.6em;
}
.classify-warp .product-box .product-list .list-box .weui-cell__bd p.p-price {
  font-size: .45rem;
  margin-top: .1rem;
  color: #f51e62;
}
.classify-warp .product-box .product-list .list-box .weui-cell__bd p.p-price span {
  font-size: .6rem;
}
.foot-btn {
  /*背景渐变*/
 border-top:1px solid #e7e7e7;
  background: -moz-linear-gradient(left, #57a6ee, #8667fd);
  background: -webkit-linear-gradient(left, #57a6ee, #8667fd);
  background: -o-linear-gradient(left, #57a6ee, #8667fd);
}
.foot-btn .cat-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.foot-btn .cat-btn .cat-tip-num {
  width: 3rem;
  border-right: 1px solid #81b2f3;
  text-align: center;
  padding: .5rem 0;
  position: relative;
}
.foot-btn .cat-btn .cat-tip-num img {
  width: 1rem;
  display: inline-block;
}
.foot-btn .cat-btn .cat-tip-num span.tip-num {
  position: absolute;
  background: #f51e62;
  border-radius: .4rem;
  color: white;
  display: block;
  top: .2rem;
  left: 1.7rem;
  line-height: .7rem;
  padding: 0 .2rem;
}
.foot-btn .cat-btn .add-cat-btn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  font-size: .65rem;
  color: white;
}
.details-box .list-box {
  margin-top: 0;
}
.details-box .list-box .weui-cell__bd h5 {
  font-size: .6rem;
  color: #424242;
  height: .8rem;
  overflow: hidden;
}
.details-box .list-box .weui-cell__bd p.p-num {
  font-size: .5rem;
  color: #eebb85;
  line-height: 1.8em;
}
.details-box .list-box .weui-cell__bd div.p-price .fl {
  font-size: .45rem;
  color: #f51e62;
}
.details-box .list-box .weui-cell__bd div.p-price .fl span {
  font-size: .6rem;
}
.details-box .list-box .weui-cell__bd div.p-price .p-right {
  color: #a6a6a6;
  font-size: .45rem;
}
.gg-boxs {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background: white;
}
.gg-boxs .pro-img {
  position: absolute;
  top: -1rem;
  width: 3.8rem;
}
.gg-boxs .p-title {
  color: #696969;
  font-size: .55rem;
  width: 10rem;
}
.gg-boxs .p-title span {
  font-size: .5rem;
  color: #a6a6a6;
  margin-left: .2rem;
}
.gg-boxs .p-prices {
  color: #f51e62;
  font-size: .7rem;
}
.gg-boxs .p-prices i {
  font-size: .5rem;
}
.gg-boxs .p-prices span {
  font-size: .5rem;
  color: #a6a6a6;
  margin-left: .2rem;
}
.gg-boxs .list-col {
  padding: 0 15px;
  font-size: .5rem;
  color: #0e0e0e;
}
.gg-boxs .list-col .list-title {
  font-size: .55rem;
  line-height: 2.4em;
}
.gg-boxs .list-col .list-box {
  border-bottom: 1px solid #e7e7e7;
}
.gg-boxs .list-col .list-box label > span {
  padding: .1rem .4rem;
  background: #f4f4f4;
  margin: 0 .3rem .3rem 0;
  display: inline-block;
  border-radius: .2rem;
}
.gg-boxs .list-box label > input {
  display: none;
}
.gg-boxs .list-box label > input:checked + span {
  background: #8ab3f5;
  color: #fff;
}
.gg-boxs .list-num {
  padding: .5rem 0;
}
.gg-boxs .list-num .num-left {
  float: left;
}
.gg-boxs .list-num .num-right {
  float: right;
  line-height: 22px;
}
.gg-boxs .list-num .num-right span.rigth-span {
  display: inline-block;
  margin-left: 5px;
}
.gg-boxs .list-num .num-right span.all-num {
  display: inline-block;
  vertical-align: middle;
}
.gg-boxs .list-num .num-right button {
  background: #f4f4f4;
  width: 22px;
  height: 22px;
  border: 1px solid #e7e7e7;
  font-size: .9rem;
  line-height: 18px;
  vertical-align: middle;
  color: #4d4d4d;
}
.gg-boxs .list-num .num-right button:active {
  background: #f2f2f2;
}
.gg-boxs .list-num .num-right button:focus {
  display: none;
}
.gg-boxs .list-num .num-right input {
  background: white;
  width: 60px;
  height: 20px;
  border: 1px solid #e7e7e7;
  border-width: 1px 0;
  font-size: .5rem;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
}
.gg-boxs .gg-foot {
  padding: 0;
  border-top: 1px solid #e7e7e7;
}
.gg-boxs .foot-btn {
  color: #fff;
  text-align: center;
  padding: .5rem 0;
  font-size: .65rem;
  /*背景渐变*/
  background: -moz-linear-gradient(left, #58a5ee, #8567fd);
  background: -webkit-linear-gradient(left, #58a5ee, #8567fd);
  background: -o-linear-gradient(left, #58a5ee, #8567fd);
}
.tbuy-btn {
  width: 100%;
  background: white;
}
.tbuy-btn .tbuy-num {
  float: left;
  height: 2rem;
  line-height: 2rem;
  font-size: .55rem;
  padding-left: .8rem;
}
.tbuy-btn .tbuy-num i {
  font-size: .45rem;
  color: #f51e62;
}
.tbuy-btn .tbuy-num span {
  font-size: .65rem;
  color: #f51e62;
  font-weight: bold;
}
.tbuy-btn .tbuy-box {
  display: block;
  float: right;
  font-size: .6rem;
  color: white;
  text-align: center;
  width: 5rem;
  height: 2rem;
  line-height: 2rem;
  /*背景渐变*/
  background: -moz-linear-gradient(left, #57a6ee, #8667fd);
  background: -webkit-linear-gradient(left, #57a6ee, #8667fd);
  background: -o-linear-gradient(left, #57a6ee, #8667fd);
}
.adds-bg {
  background-image: url(../images/add-bg00.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}
.ding-cells {
  margin-top: 0;
  margin-bottom: .4rem;
  font-size: .55rem;
  color: #2e2e2e;
}
.ding-cells p.p-name {
  font-size: .65rem;
  color: #3b3b3b;
}
.ding-cells p.p-name span {
  font-size: .5rem;
  color: #6fa5f7;
  border: 1px solid #6fa5f7;
  border-radius: .2rem;
  padding: .05rem .2rem;
  margin-left: .2rem;
}
.ding-cells p.p-adds {
  color: #767676;
  font-size: .55rem;
  padding: .3rem 0;
}
.ding-cells p.p-title {
  font-size: .55rem;
  color: #3b3b3b;
}
.ding-cells span.p-pres {
  font-size: .55rem;
  color: #f51e62;
  font-weight: bold;
}
.ding-cells .weui-cell__ft .sa-btn {
  display: inline-block;
  border: 1px solid #4b8ff5;
  color: #4b8ff5;
  padding: .1rem .2rem .1rem;
  vertical-align: middle;
  font-size: .55rem;
  border-radius: .1rem;
  margin-left: .2rem;
}
.no-align {
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
  align-items: inherit;
}
.no-align .weui-cell__ft {
  font-size: .55rem;
}
.no-align .weui-cell__ft p.p-pres {
  font-size: .55rem;
  color: #f51e62;
  font-weight: bold;
}
.dian-flex {
  background: white;
  padding: .3rem;
}
.dian-flex .weui-flex__item {
  padding: .3rem;
}
.dian-flex .weui-flex__item .dian-label input {
  display: none;
}
.dian-flex .weui-flex__item .dian-label .img-box {
  border: 1px solid #e7e7e7;
  border-radius: .1rem;
  position: relative;
}
.dian-flex .weui-flex__item .dian-label .img-box img {
  border-radius: .1rem;
}
.dian-flex .weui-flex__item .dian-label input:checked + div {
  border: 1px solid #4b8ff5;
}
.dian-flex .weui-flex__item .dian-label input:checked + div::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -1px;
  width: .8rem;
  height: .8rem;
  background: url(../images/right-icon.png) no-repeat;
  background-size: 100% 100%;
}
.flex-tab-btn {
  background: white;
}
.flex-tab-btn .placeholder {
  text-align: center;
  position:relative;
}
.flex-tab-btn .placeholder span.span_text {
  padding: .5rem .2rem;
  display: inline-block;
  font-size: .55rem;
}
.flex-tab-btn .placeholder i {
  width:.25rem;
  height:.25rem;
 	background:url(../images/diandian03.png) no-repeat;
 	background-size:100% 100%;
  display:inline-block;
  position:absolute;
  top:.5rem;
  left:2.4rem;
}
.flex-tab-btn .active .placeholder span.span_text {
  border-bottom: 3px solid #4b8ff5;
  color: #4b8ff5;
  
}
.tab-box {
  display: none;
}
.user-cells {
  background: url(../images/user-bg00.png) no-repeat;
  background-size: 100% 100%;
  margin: 0;
}
.user-cells .user-box {
  width: 2.6rem;
  height: 2.6rem;
  padding: .2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-right: .2rem;
}
.user-cells .user-box img {
  border-radius: 50%;
}
.user-cells .weui-cell__bd {
  color: white;
}
.user-cells .weui-cell__bd h5 {
  font-size: .6rem;
}
.user-cells .weui-cell__bd p {
  font-size: .5rem;
}
.warp-password {
  padding: 1.3rem;
}
.warp-password .pass-title {
  font-size: .55rem;
  color: #454545;
  padding-bottom: .2rem;
}
.warp-password .input-box {
  padding: .3rem;
  border-bottom: 2px solid #4b8ff5;
}
.warp-password .input-box input {
  border: none;
  background: none;
  font-size: 1.1rem;
  color: #8b9ff0;
  width: 100%;
}
.warp-password .input-box input:focus {
  outline: none;
}
.warp-password .pass-tip {
  padding: .4rem 0;
  color: #b7b7b7;
  font-size: .5rem;
}
.warp-password .btn-next {
  padding-top: 1.2rem;
}
.warp-password .btn-next a {
  display: block;
  background: #c7c7c7;
  padding: .4rem;
  font-size: .65rem;
  color: white;
  text-align: center;
  border-radius: 1rem;
  /* 盒子阴影 */
-webkit-box-shadow: 0 5px 16px rgba(172,172,172,.4);
-moz-box-shadow: 0 5px 16px rgba(172,172,172,.4);
box-shadow: 0 5px 16px rgba(172,172,172,.4);
}
.warp-password .in a {
  background: #4b8ff5;
  -webkit-box-shadow: 0 5px 16px rgba(75,143,245,.4);
	-moz-box-shadow: 0 5px 16px rgba(75,143,245,.4);
	box-shadow: 0 5px 16px rgba(75,143,245,.4);
}
/* 2018 3 15*/
.list_uimg{
	width:2rem;
	height:2rem;
	display:block;
	background:#fff;
	border-radius:50%;
	margin-right:.5rem;
}
.m_title{
	font-size:.6rem;
	font-weight: bold;
	color:#393939;
}
.m_text{
	font-size:.5rem;
	color:#7f7f7f;
}
.pd2{padding:2px 0}
.text_blue{
	color:#3698ee;
}
.text_red{
	color:#fb6e65;
}
.weui-cell__num{
	width:1.5rem;
	height:1.5rem;
	line-height: 1.5rem;
	text-align:center;
	margin-right:5px;
}
.weui-cell__num .num_img{
	width:1.5rem;
	height:1.5rem;
	display:block;
}
