

/* 2018/4/16 */ 
.pro-grids{
    padding:10px;
}
.grid_two{
    float:left;
    width:50%;
    box-sizing: border-box;
    padding:10px;
}
.grid_box{
    background:#fff;
    padding:30px;
    border-radius:10px;
    overflow: hidden;
    .grid_title{
        margin-top:20px;
        font-size:30px;
        font-weight: 600;
        line-height: 50px;
        height:50px;
        color:#333;
        word-break: break-all;
        text-overflow: ellipsis; /*出现省略号*/
        display: -webkit-box; /* 对象作为伸缩盒子模型显示 */
        -webkit-box-orient: vertical; /* 设置或检索伸缩盒对象的子元素的排列方式 */
        -webkit-line-clamp: 1; /* 显示的行数 */
        overflow: hidden; /* 隐藏超出的内容 */
    }
    .grid_tip{
        font-size:22px;
        color:#999;
        span{
            font-size:30px;
            font-weight: 600;
        }
    }
}
.grid_img{
    text-align: center;
    img{
        width:250px;
        height:250px;
    }
    
}