

/* 2018/4/16 */ 
.pro-grids{
    padding:10px;
}
.grid_two{
    float:left;
    width:50%;
    box-sizing: border-box;
    padding:10px;
}
.grid_box{
    background:#fff;
    padding:30px;
    border-radius:10px;
    overflow: hidden;
    .grid_title{
        margin-top:20px;
        font-size:30px;
        font-weight: 600;
        line-height: 50px;
        height:50px;
        color:#333;
        word-break: break-all;
        text-overflow: ellipsis; /*出现省略号*/
        display: -webkit-box; /* 对象作为伸缩盒子模型显示 */
        -webkit-box-orient: vertical; /* 设置或检索伸缩盒对象的子元素的排列方式 */
        -webkit-line-clamp: 1; /* 显示的行数 */
        overflow: hidden; /* 隐藏超出的内容 */
    }
    .grid_tip{
        font-size:22px;
        color:#999;
        span{
            font-size:30px;
            font-weight: 600;
        }
    }
}
.grid_img{
    text-align: center;
    img{
        width:250px;
        height:250px;
    }
    
}

// 2018/4/17
// input_cell
.input_cell{
    padding:0 30px 20px;
    font-size:44px;
    font-weight: 600;
    .weui-input{
        font-size:44px;
        font-weight: 600;
    }
}
.end_text{
    text-align: center;
    padding:20px 0;
}

.wen_banner{
    padding:40px 0;
    text-align: center;
    img{
        width:530px;
        height:358px;
    }
}
.wen_text{
    font-size:30px;
    font-weight: 500;
    color:@defaultTextColor;
}

.wx_box{
    width:320px;
    height:320px;
    padding:20px;
    margin:30px auto;
    border-radius:10px;
    box-shadow: 0 0px 30px rgba(222,222,222,0.5);
    img{
        width:100%;
        height:100%;
    }
}

.list_icon{
    width:77px;
    height:77px;
    border-radius:8px;
    margin-right:20px;
    display:block;
}
.radius50{
    border-radius:50%;
}
.sum-cell{
    color:#6f6f6f;
    font-size:24px; 
}
.sum-cell ~ .weui-cells{
    margin-top:0;
}
.sm_btnred{
    line-height: 1.6;
    border:1px solid #ff4d3a;
    color:#ff4d3a;
    font-size:26px;
    padding:0 30px;
    display:block;
    border-radius:30px;
} 

// weui-top
.weui-top{
    text-align: center;
    background-image:url(../images/top_bg.jpg);
    background-size:100%;
    background-repeat:no-repeat;
    padding:30px 0;
    &_img{
        width:110px;
        height:110px;
        border-radius:10px;
        padding:2px;
        background-color:#fff;
        margin:30px auto 20px;
        img{
            width:100%;
            height:100%;
            display:block;
            border-radius:10px;
        }
    }
    &_tip{
        font-size: 36px;
        color: #222222;
        font-weight: 600;
        padding:30px 0;
    }
    &_more{
        a{
            color: #5070b0;
            font-size: 26px;
        }
    }
}
.weui-top_sum{
    padding-top:30px;
    font-size:0;
    .sum_img{
        display:inline-block;
        max-width: 255px;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: middle;
        img{
            width:55px;
            height:55px;
            border:1px solid #fff;/*no*/
            vertical-align: middle;
            border-radius:50%;
        }
        img:not(:first-child){
            margin-left:-10px;
        }
    }
    .sum_text{
        font-size: 26px;
        color: #444444;
        vertical-align: middle;
        margin-left:20px;
    }
}
.name-tip{
    background-color: #ffe1cd;
    border-radius: 14px;
    font-size:20px;
    color: #dc6209;
    display:inline-block;
    padding:0 15px;
    margin-left:10px;
}
.hd_icon{
    width:3px;/* no */
    height:26px;
    margin-right:10px;
    background:@mainColor;
}
.zan_btn{
    img{
        width:35px;
        height:35px;
        vertical-align: middle;
    }
    span{
        vertical-align: middle;
    }
}

.max_image{
    padding:20px 0;
    img{
        width:340px;
        height:340px;
        vertical-align: middle;
    }
}
.liu_name{
    font-weight: 600;
    font-size:28px;
    color: #4a5c87;
}
.weui-top_num{ 
    font-weight: 600;
    b{
        font-size: 78px;
        color: #222222;
        font-weight: 600;
    }
    .x_title{
        margin-left:4px;
        position: relative;
    }
}

.num_tipt{
    position: absolute;
    top:-36px;
    left:0;
    white-space:nowrap;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    background-color: #f73117;
    padding:0 20px;
    border-radius:30px 20px 20px 0;
}
.banner_img{
    padding:30px 30px 0;
    img{
        max-width:100%;
        border-radius:20px;
        box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.15);
    }
}

.tap_flex{
    margin:0 95px;
    background:rgba(255,255,255,0.2);
    font-size: 28px; 
    border-radius:35px;
    .weui-flex__item{
        border-radius:35px;
        padding:14px 0;
        color: #fff;
        font-weight: 500;
    }
    .active{
        background:#fff;
        color: #ff3823;
    }
}

.my-data_box{
    background:#fff;
    margin:94px 28px 0;
    padding:1px;
    border-radius:15px;
    box-shadow: 4px 6px 5px 0px rgba(4, 0, 0, 0.08);
    background-image:url(../images/my-data_bg.png);
    background-repeat:no-repeat;
    background-size:100%;
    background-position:left bottom;
}
.my-data_img{
    width:125px;
    height:125px;
    border-radius:50%;
    margin:-60px auto 20px;
    border:4px solid #fff;
    background:#fff;
    box-shadow: 3px 5px 5px 0px rgba(4, 0, 0, 0.2);
    img{
        width:100%;
        height:100%;
        border-radius:50%;
    }
}
.my-data_flex{
    padding:40px 30px;
}
.my-data_num{
    color: #222222;
    font-size: 40px;
    font-weight: 700;
}
.min_image{
    img{
        width:152px;
        height:152px;
    }
}
.read-box{
    display:inline-block;
    margin-left:20px;
    img{
        width:30px;
        height:30px;
        vertical-align: middle;
    }
}

.my-top{
    background-color:#fff;
    padding-bottom:80px;
    background-position:left bottom;
    .weui-top_img{
        border-radius:50%;
        width:125px;
        height:125px;
        img{
            border-radius:50%;
        }
    }
    .weui-top_name{
        div{
            color:#fff;
        } 
    }
}
.my_icon{
    width:45px;
    height:45px;
    display:block;
    margin-right:20px;
}

.bag_init{
    background-image: linear-gradient(90deg, 
		#ff7c1d 0%, 
		#fb561a 33%, 
        #f73017 100%);
    .weui-top{
        background-image:none;
        padding-bottom:60px;
    }
    .my-data_box{
        margin:94px 55px 0;
        background-image:none;
        position: relative;
        box-shadow: 2px 4px 5px 0px rgba(4, 0, 0, 0.15);
        &::after{
            content:"";
            position: absolute;
            width:100%;
            height:20px;
            background:#fff;
            left:50%;
            transform: translateX(-50%);
            bottom:0px;
            box-shadow: 2px 4px 5px 0px rgba(4, 0, 0, 0.15);
            border-radius:0 0 16px 16px;
        }
        &::before{
            content:"";
            position: absolute;
            width:90%;
            height:20px;
            background:#fff;
            left:50%;
            transform: translateX(-50%);
            bottom:-14px;
            box-shadow: 2px 4px 5px 0px rgba(4, 0, 0, 0.15);
            border-radius:0 0 16px 16px;
        }
    }
}
.tx_list{
    position: absolute;
    right:30px;
    top:20px;
}

.put-img_box{
    text-align: left;
}

.add_img-btn{
    display:inline-block;
    vertical-align: middle;
    height:114px;
    width:138px;
    padding-top:24px;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
    .add_icon{
        background-color: #d2d2d2;
        padding:10px;
        border-radius:50%;
        width:30px;
        height:30px;
    }
    &:active{
        background:#bbb;
    }
    &:hover{
        background:#bbb;
    }
}
.put-img{
    display:inline-block;
    vertical-align: middle;
    img{
        width:138px;
        height:138px;
        margin-right:20px;
        border-radius: 10px;
        vertical-align: middle;
    }
}

.open-flex{
    background-color: #f5f5f5;
    border-radius: 10px;
    padding:16px 24px;
    .weui-flex__item{
        text-align: left;
    }
    .weui-flex__inp{
        margin-right:10px;
    }
    .weui-input{
        text-align: right;
        font-weight: 500;
    }
}
.input_tip{
    padding:12px 20px 20px;
    text-align: left;
}

.small_radio{
    margin-top:0;
    background:none;
    .weui-cell__hd{
        width:34px;
        height:34px;
        margin-right:10px;
        border:1px solid #ddd;
        border-radius:6px;
        .weui-icon-checked{
            vertical-align: initial;
        }
    }
    .x_text{
        text-align:left;
    }  
}
.weui-cells_radio .weui-check:checked + .weui-icon-checked:before{
    color:#ff3720
}

.weui-show{
    border-radius: 10px;
    border: solid 1px #dfdfdf;
    align-items: center;
    padding:4px 16px;
    .look_icon img{
        width:30px;
        height:30px;
        display:block;
        margin-right:10px;
    }
}
.guizhi_btn{
    padding:6px;
    margin-left:4px;
    img{
        vertical-align: middle;
        width:18px;/* no */
        height:18px;/* no */
    }
}
.popup-center.weui-popup__container--visible .weui-popup__modal{
    transform: translate3d(0, 50%, 0);
}
.popup-center{
    .weui-popup__modal{
        bottom:50%;
        // transform: translateY(50%);
    }
    .pass_modal{
        left:95px;
        right:95px;
        width:auto;
        background:#fff;
        border-radius:10px;
        text-align: center;
    }
}
.modal_title{
    color: #222222;
    font-size: 34px;
    font-weight:700;
}
.btn_select{
    font-size:30px;
    padding:20px 30px;
    overflow:hidden;
    &::after{
        content:"";
        position: absolute;
        left:50%;
        transform: translateX(-50%) scaleX(0.5);
        top:0;
        height:100%;
        border-left:1px solid #eee;
    }
}
.no_a::after{ display:none;}

.input_flexbox{
    padding:20px 0;
    height:116px;
    .weui-flex__item{
        padding:10px;
        
    }
    .passinput{
        font-size: 60px;
        color: #222222;
        background-color: #f4f4f4;
        border-radius: 10px;
        font-weight:600;
        height: 100%;
        position: relative;
       
    }
}

/*这里是闪烁光标*/
.passinput{
    &::after{
        content:"";
        position: absolute;
        left:50%;
        top:50%;
        width:1px; /*no*/
        height:50%;
        transform:translate(-50%,-50%);
        // background:#000;
    }
}
.passinput.blink::after{
    animation: blink 1s infinite steps(1, start);
}
/*这里设置动画blink*/
@keyframes blink {
    0%, 100% {
        background-color: #000;
    }
    50% {
        background-color: #f4f4f4; /* not #aaa because it's seem there is Google Chrome bug */ 
    }
}

.dian_icon{
    width:6px;/*no*/
    height:6px;/*no*/
    border-radius:50%;
    background-color: #222222;
    display:block;
    margin-top:15px;
    margin-right:10px;
}
.tl{
    text-align: left;
}